@white-color: #fff;
@black-color: #000;
@gray: #666;
@gray-darker: #333;
@gray-lighter: #999;
@red-color: #f74d4a;
@orange-color: #f8984a;
@blue-color: #2d64b3;
@visited-color: #653096;

@text-color: @gray-darker;

@body-bg: #fff;



@link-color: @blue-color;
@link-hover-color: @blue-color;
@link-visited-color: @visited-color;
@link-hover-decoration: underline;

@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-yahei: "microsoft yahei" simhei sans-serif;
@font-family-sansOnly: sans-serif;
@font-family-serifOnly: sans-serif;
@font-family-base: @font-family-sans-serif;


@font-size-base: 14px;
@font-size-sm: 12px;
@font-size-lg: 16px;
@font-size-lger: 20px;
@usual-font-size: replace(~"@{font-size-base}", 'px', ''), 
                  replace(~"@{font-size-sm}", 'px', ''),
                  replace(~"@{font-size-lg}", 'px', ''),
                  replace(~"@{font-size-lger}", 'px', '');
@default-font-size: @font-size-base;

@font-weight-normal: normal;
@font-weight-bold: bold;
@usual-font-weight: ~"@{font-weight-normal}", ~"@{font-weight-bold}";

@line-height-normal: 22px; 
@line-height-lg: 26px; 
@default-line-height: @font-size-base;

@container-width: 980px;
@grid-width: 10px;
@grid-height: 2px;

@border-color: #e4e6eb;

@input-color-placeholder: #bcbcbc;

@nav-bg-hover-color: #1e2339;  
@nav-bg-color: #282d45;
@search-bg-color: #7e818f;

@li-hover-bg: #f7f9fc;

/*button component*/
@default-text: @white-color;
@default-bg: #398bfc;
@default-bg-hover-top: #3887fa;
@default-bg-hover-bottom: #3782f0;
@default-bg-hover: @default-bg-hover-top @default-bg-hover-bottom; 
@default-bg-active: #317ef3;
@default-border: #3782f0;
@default-border-hover: #296cee;
@default-border-active: #317ef3;
@default-shadow: #317ef3;

@attention-text: @white-color;
@attention-bg: #e64845;
@attention-bg-hover-top: #f64d4a;
@attention-bg-hover-bottom: #db4437;
@attention-bg-hover: @attention-bg-hover-top @attention-bg-hover-bottom;
@attention-bg-active: #d23c30;
@attention-border: #ad3331;
@attention-border-hover: #a50e0b;
@attention-border-active: #a50e0b;
@attention-shadow: #a50e0b;

@sub-text: @gray-darker;
@sub-bg: #f1f1f1, #f2f2f2;
@sub-bg-hover: #f8f8f8, #e9e9e9;
@sub-bg-active: #d8d8d8;
@sub-border: #ccc;
@sub-border-hover: #ababab;
@sub-border-active: @sub-border;
@sub-shadow: @sub-border;

@disable-text: @gray-lighter;
@disable-bg: #dfdfdf;
@disable-border: #dfdfdf;
#gradient {
    .horizontal(@start-color; @end-color; @start-percent; @end-percent) {
        // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
        background-image: linear-gradient(to right, @start-color @start-percent, @end-color @end-percent); 
        background-repeat: repeat-x;
        // IE9 and down
        filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@start-color),argb(@end-color))); 
    }
    .vertical(@start-color; @end-color; @start-percent; @end-percent) {
        // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
        background-image: linear-gradient(to bottom, @start-color @start-percent, @end-color @end-percent); 
        background-repeat: repeat-x;
        // IE9 and down
        filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@start-color),argb(@end-color))); 
    }
    .directional (@deg; @start-color; @end-color) {
        background-image: linear-gradient(@deg, @start-color, @end-color); 
    }
}

.reset-filter() {
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}
.muitl-box-shadow(@shadowA, @shadowB:X, ...){
    @props: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;
    box-shadow: @props;
}

.box-shadow(@shadow) {
    .muitl-box-shadow(@shadow);
}

/**
* @author: yuanzhen 
* @date: 15/01/08
* @desc: button
*/
.btn-base(){
    display: inline-block;
    border-radius: 2px;
    border: 1px solid transparent;
    &:hover{
        text-decoration: none;
    }
}

.btn-cursor(){
    cursor: pointer;
}

@default: {
    .btn_default{
        color: @default-text;
        background: @default-bg;
        border-bottom-color: @default-border;
        &:hover,
        &:focus{
            @start: extract(@default-bg-hover, 1);
            @end: extract(@default-bg-hover, 2);
            #gradient .vertical(@start, @end, 0, 100%);
            border-bottom-color: @default-border-hover;
            color: @default-text;
        }
        &:visited{
            color: @default-text;
        }
        &:active{
            background: @default-bg-active;
            border-top-color: @default-border-active;
            .box-shadow(inset 0 1px 1px @default-shadow);
            color: @default-text;
        }
    }
};

@disable: {
    .btn_disable{
        color: @disable-text;
        background: @disable-bg;
        border-color: @disable-border;
        &:hover,
        &:focus{
            background: @disable-bg;
            color: @disable-text;
        }
        &:visited{
            color: @disable-text;
        }
        &:active {
            background: @disable-bg;
            color: @disable-text;
        }
    }
};

@sub: {
    .btn_sub {
        @start: extract(@sub-bg, 1);
        @end: extract(@sub-bg, 2);
        #gradient .vertical(@start, @end, 0, 100%);
        color: @sub-text;
        border-color: @sub-border;
        &:hover,
        &:focus {
            @start-hover: extract(@sub-bg-hover, 1);
            @end-hover: extract(@sub-bg-hover, 2);
            #gradient .vertical(@start-hover, @end-hover, 0, 100%);
            border-color: @sub-border-hover;
            color: @sub-text;
        }
        &:visited{
            color: @sub-text;
        }
        &:active {
            background: @sub-bg-active;
            border-top-color: @sub-border-active;
            .box-shadow(inset 0 1px 1px @sub-shadow);
            color: @sub-text;
        }
    }
};

@attention: {
    .btn_attention {
        color: @attention-text;
        background: @attention-bg;
        border-bottom-color: @attention-border;
        &:hover,
        &:focus{
            @start: extract(@attention-bg-hover, 1);
            @end: extract(@attention-bg-hover, 2);
            #gradient .vertical(@start, @end, 0, 100%);
            border-bottom-color: @attention-border-hover;
            color: @attention-text;
        }
        &:visited{
            color: @attention-text;
        }
        &:active {
            background: @attention-bg-active;
            border-top-color: @attention-border-active; 
            .box-shadow(inset 0 1px 1px @attention-shadow);
            color: @attention-text;
        }
    }
};

@small: {
    .btn_small{
        padding: 4px 12px;
        font-size: 12px;
    }
};

@middle: {
    .btn_middle {
        padding: 6px 12px;
        font-size: 13px;
    }
};

@larger: {
    .btn_larger {
        padding: 8px 12px;
        font-size: 14px;
    }
};

.make-btn-style() {
    .btn,
    .btn_default,
    .btn_sub,
    .btn_attention{
        .btn-cursor();
    }

    .btn,
    .btn_default,
    .btn_sub,
    .btn_disable,
    .btn_attention{
        .btn-base();
    }

    @default();
    @sub();
    @disable();
    @attention();
}

.make-btn-size(){
    @small();
    @middle();
    @larger();
}

.btn-size(@padding-vertical, @padding-horizontal, @line-height, @font-size, @border-radius) {
     padding: @padding-vertical @padding-horizontal;
     font-size: @font-size;
     line-height: @line-height;
     border-radius: @border-radius;
}

.btn-variant(@color, @bg-color, @border-color, @hover-color, @hover-bg-color, @hover-border-color){
    color: @color;
    background-color: @bg-color;
    border-color: @border-color;
    &:hover{
        color: @hover-color;
        background-color: @hover-bg-color;
        border-color: @hover-border-color;
    }
}

.btn-styles(@btn-color: #555) {
     #gradient > .vertical(@btn-color, darken(@btn-color, 12%), 0, 100%);
     .reset-filter(); // Disable gradients for IE9 because filter bleeds through rounded corners; see https://github.com/twbs/bootst>
     background-repeat: repeat-x;
     border-color: darken(@btn-color, 14%);
     &:hover,
     &:focus{
        background-color: darken(@btn-color, 12%);
        background-position: 0 -15px;
     }
     &:active,
     &.active {
        background-color: darken(@btn-color, 12%);
        border-color: darken(@btn-color, 14%);
     }
}

.make-btn-style();
.make-btn-size();
